include README.md
include setupwheel.py
recursive-include doc *
include ginacsympy_version.py
include ginacsympy_abc.py
include ginacsympy.pyx
include ginacsym\add.h
include ginacsym\archive.h
include ginacsym\assertion.h
include ginacsym\basic.h
include ginacsym\class_info.h
include ginacsym\clifford.h
include ginacsym\color.h
include ginacsym\compiler.h
include ginacsym\constant.h
include ginacsym\container.h
include ginacsym\ex.h
include ginacsym\expair.h
include ginacsym\exprseq.h
include ginacsym\expairseq.h
include ginacsym\factor.h
include ginacsym\fail.h
include ginacsym\fderivative.h
include ginacsym\flags.h
include ginacsym\function.h
include ginacsym\functions.h
include ginacsym\ginacsym.h
include ginacsym\ginacsympy.h
include ginacsym\ginacsympy_api.h
include ginacsym\ginacwrapper.h
include ginacsym\hash_map.h
include ginacsym\idx.h
include ginacsym\indexed.h
include ginacsym\inert.h
include ginacsym\infinity.h
include ginacsym\inifcns.h
include ginacsym\integral.h
include ginacsym\integrate.h
include ginacsym\integration_kernel.h
include ginacsym\limit.h
include ginacsym\lst.h
include ginacsym\matrix.h
include ginacsym\mul.h
include ginacsym\ncmul.h
include ginacsym\normal.h
include ginacsym\number.h
include ginacsym\numeric.h
include ginacsym\operators.h
include ginacsym\outform.h
include ginacsym\parse_context.h
include ginacsym\parser.h
include ginacsym\power.h
include ginacsym\print.h
include ginacsym\pseries.h
include ginacsym\ptr.h
include ginacsym\registrar.h
include ginacsym\relational.h
include ginacsym\simplify.h
include ginacsym\solve.h
include ginacsym\structure.h
include ginacsym\symbol.h
include ginacsym\symmetry.h
include ginacsym\tensor.h
include ginacsym\utility.h
include ginacsym\utils.h
include ginacsym\version.h
include ginacsym\wildcard.h
